*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.box-carousel{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top:100px;
  width:100%;

}
.prev-icon{
  font-size:50px;
}

.img-slide img{
  display: none;
  width:70vw;
  height:70vh;
}
.img-slide img.active{
  display: inline-block;
}
.box-pallini{
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:250px;
  height:50px;
  background:gray;
  bottom:30px;
  border-radius:20px;
  opacity:0.8;
}
.box-pallini span {

  width:15px;
  height:15px;
  border-radius:50%;
  background:white;
}
.box-pallini span.active{
  background-color:blue;
}
@media screen and (max-width: 600px)
 {
  .box-pallini{
    width:150px;
    height:50px;
  }
  .box-pallini span{
    width:10px;
    height:10px;
  }

}
